.main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

.main h1 {
  grid-column: 1 / -1;
  display: inline-flex;
  flex-direction: column;
}

.wordlist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--bg);
  border-radius: 5px;
  max-height: 350px;
  overflow-y: auto;
  font-size: 0.8rem;
}

.wordlist li {
  list-style: none;
}

.congratulations {
  /* grid-column: 1 / -1; */
  text-align: center;
  /* color: var(--accent); */
}

.word {
  font-weight: 200;
}

.word.found {
  text-decoration: line-through;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 4px;
}

.grid {
  display: grid;
  background-color: var(--fg);
  color: var(--bg);
  margin-inline: auto;
  width: max-content;
  grid-auto-rows: 1fr;
  border-radius: 3px;
  cursor: grab;
  position: relative;

  &.selecting {
    cursor: pointer;
  }
}

.selection-overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  user-select: none;
  z-index: 2;
  position: relative;
}
.cell::before {
  content: '';
  position: absolute;
  inset: -3px;
}
.cell > span {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.cell.default {
  background-color: transparent;
}
.cell.found {
  background-color: transparent;
}
.cell:hover {
  background-color: cornflowerblue;
}
.selecting .cell {
  background: transparent;
}
.cell.selected {
  border-radius: 0;
}

@media (width <= 700) {
  .main {
    grid-template-columns: 1fr;
  }
  .grid {
    grid-row: 2;
    font-size: clamp(0.5rem, 4vw, 1rem);
  }
  .wordlist {
    grid-row: 3;
    width: 100%;
    max-width: 20rem;
    margin-inline: auto;
  }
}
