.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main h1 {
    grid-column: 1 / -1;
}

.wordlist {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--bg);
    border-radius: 5px;
    max-height: 350px;
    overflow-y: auto;
}

.wordlist li {
    list-style: none;
}

.word {
    font-weight: 200;
}

.found {
    text-decoration: line-through;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 4px;
}

.grid {
    display: grid;
    background-color: var(--fg);
    color: var(--bg);
    margin-inline: auto;
    width: max-content;
    grid-auto-rows: 1fr;
    border-radius: 3px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    user-select: none;

    &:active {
        cursor: grabbing;
    }
}