ErrorDocument 403 /error/403.html
ErrorDocument 404 /error/404.html

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
    Header set Cache-Control "max-age=28800"
</FilesMatch>

<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>