:root {
  font-family: arial;
  font-size: 16px;
  color: #333; }

body {
  margin: 0;
  display: flex; }

a {
  font-family: arial;
  font-size: 16px;
  color: #333; }
  a:hover {
    color: #666; }
  a[disabled] {
    color: #999;
    cursor: default;
    pointer-events: none; }

.strip {
  position: relative;
  width: 100%;
  padding: 20px 0px;
  margin: 0; }
  .strip p {
    margin: 0 20px 10px 20px; }
    .strip p:last-of-type {
      margin-bottom: 0; }
  .strip:nth-of-type(odd) {
    background-color: honeydew; }
  .strip:nth-of-type(even) {
    background-color: moccasin; }

.index-wrap, .error-wrap, .intern-vis-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1; }

ul {
  position: relative;
  margin: 50px auto; }

h6 {
  text-align: center;
  width: 100%;
  margin: 2em auto; }

section.about {
  display: flex;
  flex-wrap: wrap; }
  section.about p {
    background-color: pink; }

section.websites {
  height: 350px; }
  section.websites .flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; }
    section.websites .flex .col-half {
      width: 50%;
      text-align: center;
      padding: 20px; }
      section.websites .flex .col-half span.button {
        display: block;
        margin-top: 40px;
        cursor: pointer;
        background-color: white;
        padding: 1em;
        border-radius: 0.8em;
        font-weight: 700;
        box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.4);
        transition: all 0.1s ease-in-out; }
        section.websites .flex .col-half span.button:hover {
          box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.6);
          transform: translateY(-2px); }
      section.websites .flex .col-half img {
        max-width: 100%;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
        border-radius: 0.3em; }

header {
  width: 175px;
  background-color: #ccc;
  position: relative; }
  header .header-positioning {
    color: #cf4111;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    width: 175px;
    margin: 0;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0px; }
    header .header-positioning a {
      color: #cf4111; }
    header .header-positioning h1 {
      margin: 0;
      text-align: right;
      margin-right: 20px;
      padding: 0;
      padding-top: 20px;
      font-size: 1.5rem; }
    header .header-positioning h3 {
      padding: 0;
      margin: 0;
      font-size: 1.25rem;
      text-align: right;
      margin-right: 20px;
      margin-top: 20px; }
    header .header-positioning .site-nav ul {
      text-align: right;
      list-style: none;
      padding: 0;
      margin: 20px; }
      header .header-positioning .site-nav ul li {
        margin-bottom: 10px; }
        header .header-positioning .site-nav ul li:last-child {
          margin-bottom: 0; }

@media screen and (max-width: 640px) {
  header {
    width: 100%;
    order: 2; }
    header .header-positioning {
      position: relative;
      width: 100%;
      flex-direction: row;
      top: auto;
      left: auto;
      bottom: auto; }
      header .header-positioning h1, header .header-positioning h3 {
        display: none; }
      header .header-positioning .site-nav ul {
        text-align: center; }
        header .header-positioning .site-nav ul li {
          display: inline-block;
          padding: 10px; }

  body {
    flex-direction: column; } }
.intern-report-wrap {
  background-color: #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1; }
  .intern-report-wrap .report {
    background-color: #880a00;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    left: 10%;
    margin: auto auto;
    border-radius: 10px; }
    .intern-report-wrap .report p {
      background-color: #fdfdfd;
      padding: 10px;
      margin: 0px 20px; }
      .intern-report-wrap .report p:first-child {
        margin-top: 20px;
        border-radius: 10px 10px 0 0; }
      .intern-report-wrap .report p:last-child {
        margin-bottom: 20px;
        border-radius: 0 0 10px 10px; }
      .intern-report-wrap .report p:only-child {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px 10px 10px 10px; }
  .intern-report-wrap .report-navigator {
    background-color: #ddd;
    padding: 10px 200px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around; }
  .intern-report-wrap .report-list {
    list-style: none; }

.intern-vis-wrap {
  display: flex;
  flex-direction: column; }
  .intern-vis-wrap .strip:first-of-type {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .intern-vis-wrap #audio-info {
    min-height: 40px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: #cf4111;
    z-index: 3; }
    .intern-vis-wrap #audio-info #filesearch {
      display: none;
      z-index: 5;
      position: absolute;
      right: 0;
      top: 0; }
      .intern-vis-wrap #audio-info #filesearch #filesearch-tb {
        border: 1px solid #999;
        border-radius: 5px 5px 0 0;
        padding: 5px;
        background-color: white;
        z-index: 5; }
        .intern-vis-wrap #audio-info #filesearch #filesearch-tb:focus {
          outline: none; }
      .intern-vis-wrap #audio-info #filesearch #filesearch-sb {
        z-index: 5;
        display: flex;
        background-color: white;
        flex-direction: column;
        border-radius: 0 0 5px 5px;
        max-height: 200px;
        overflow-y: auto; }
        .intern-vis-wrap #audio-info #filesearch #filesearch-sb span {
          z-index: 5;
          background-color: white;
          padding: 5px;
          cursor: pointer; }
          .intern-vis-wrap #audio-info #filesearch #filesearch-sb span:last-child {
            border-radius: 0 0 5px 5px; }
          .intern-vis-wrap #audio-info #filesearch #filesearch-sb span:hover {
            background-color: #999; }
    .intern-vis-wrap #audio-info #audio-title {
      font-weight: bold;
      cursor: pointer; }
  .intern-vis-wrap #utterance-text {
    color: #cf4111;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px; }
    .intern-vis-wrap #utterance-text small {
      font-size: 0.6rem;
      cursor: pointer; }
      .intern-vis-wrap #utterance-text small:hover {
        text-decoration: underline; }
  .intern-vis-wrap #text {
    color: #333;
    display: block;
    margin: 10px 30px auto 30px;
    font-style: italic;
    font-weight: lighter; }
  .intern-vis-wrap #wavelabel-wrap {
    overflow-x: auto;
    max-width: 100%; }
    .intern-vis-wrap #wavelabel-wrap #waveform {
      cursor: default !important;
      overflow-x: auto; }
      .intern-vis-wrap #wavelabel-wrap #waveform wave {
        overflow-x: hidden; }
    .intern-vis-wrap #wavelabel-wrap #labels {
      white-space: pre-line;
      font-family: monospace;
      font-size: 0.75rem;
      cursor: default;
      z-index: 3;
      display: flex;
      text-align: center;
      wrap: nowrap;
      justify-content: space-around;
      position: relative; }
      .intern-vis-wrap #wavelabel-wrap #labels .label {
        padding-top: 10px;
        padding-bottom: 10px;
        top: 50%;
        z-index: 3;
        cursor: pointer;
        width: 100%;
        flex: 1; }
        .intern-vis-wrap #wavelabel-wrap #labels .label:hover {
          background-color: #cf4111; }
          .intern-vis-wrap #wavelabel-wrap #labels .label:hover::before {
            text-align: center;
            font-size: 2rem;
            min-width: 2rem;
            border: 1px solid #999;
            padding: 5px;
            border-radius: 5px;
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            content: attr(data-ipa);
            background-color: white; }
  .intern-vis-wrap #play-btn {
    background-color: #2493DA;
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.05s ease-in-out; }
    .intern-vis-wrap #play-btn:hover {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5); }
    .intern-vis-wrap #play-btn:active {
      box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
      transform: translateY(1px); }
  .intern-vis-wrap #kb-ctrls {
    font-size: 0.6rem;
    position: absolute;
    right: 10px;
    cursor: default; }
    .intern-vis-wrap #kb-ctrls #kb-ctrls-tooltip {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      font-size: 1.1em;
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      bottom: 125%;
      right: 0;
      padding: 5px;
      border-radius: 5px;
      border: solid 1px black;
      width: 350%;
      line-height: 150%;
      z-index: 6; }
    .intern-vis-wrap #kb-ctrls:hover #kb-ctrls-tooltip {
      display: block; }
  .intern-vis-wrap #feedback {
    margin: 20px auto;
    width: 60%;
    display: flex;
    justify-content: space-around; }
    .intern-vis-wrap #feedback #bad-reason {
      display: none;
      position: absolute;
      width: 500px;
      height: 250px;
      resize: none;
      bottom: 0;
      left: 50%;
      margin-left: -250px; }
    .intern-vis-wrap #feedback .feedback-btn {
      cursor: pointer;
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      text-align: center;
      box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
      transition: all 0.05s ease-in-out; }
      .intern-vis-wrap #feedback .feedback-btn:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5); }
      .intern-vis-wrap #feedback .feedback-btn:active {
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
        transform: translateY(1px); }
    .intern-vis-wrap #feedback #good {
      background-color: green; }
    .intern-vis-wrap #feedback #bad {
      background-color: red; }
  .intern-vis-wrap .label-question {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
    text-align: center; }
  .intern-vis-wrap #clip-nav {
    display: flex;
    justify-content: space-around; }
    .intern-vis-wrap #clip-nav div {
      cursor: pointer; }
      .intern-vis-wrap #clip-nav div:hover {
        text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
