:root {
  --bg-dark: oklch(.23 0.02 206);
  --bg: oklch(.28 0.02 206);
  --bg-light: oklch(.33 0.02 206);

  --fg-dark: oklch(.72 0 271);
  --fg: oklch(.82 0 271);
  --fg-light: oklch(.92 0 271);

  --accent-dark: oklch(.61 0.21 36);
  --accent: oklch(.66 0.21 36);
  --accent-light: oklch(.71 0.21 36);

  --background: var(--bg-dark);
  --foreground: var(--fg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--bg-dark);
    --foreground: var(--fg);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--merriweather) Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100dvh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  padding-inline: 2rem;
  flex: 1 1 auto;
}