.header {
    /* background-color: var(--dark); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    font-family: var(--merriweather-sans);
}
.logo {
    /* color: var(--accent); */
    font-weight: 700;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.active {
    text-decoration: underline var(--accent);
}
.nav a:hover {
    text-decoration: underline currentColor;
}